/*
unidades relativas 
px => pixel 
em => relativa al tamaño de fuente que tenga el elemento padre o el mas cercano
rem => relativo al tamaño de fuente especificado en el body
% => porcentaje

unidades absolutas
estan medidas nunca se van a usar en el diseño web
in => pulgadas
cm => centimetros
mm => milimetros

*/
/*20 pixeles equivalen a 1 em*/
body {
    font-size: 20;
}
p {
    /*30px 20 / 30 = 1.5em*/
    font-size: 1.5em;
}
.contenedor_padre {
    font-size: 25px;

/* Esta tomando la medida del elemento mas cercano que es el contenedor padre
Si queremos tomar directamnete el font-size del vody coloco rem
*/
}
.hijo {
    /* 200 / 20 = 10*/
    width: 13.3rem;
    height: 13.3rem;
    background: springgreen;
}