* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;

}/* Prooiedades del contenedor padre */
.contenedor {
    width: 80%;
    height: 500px;
    max-width: 700px;
    background: #212d40;

    /*Lo que me permite es que mis elementos hijo se hagan 
    flexibles, como si hubiera aplicado el float left*/

    /* Es una propiedad resumida que indica la capacidad de un elemento 
    flexible para alterar sus dimensiones y llenar el espacio disponible*/
    display: flex;
    /* Especifica cómo colocar los objetos flexibles en el contenedor flexible
     definiendo el eje principal y la dirección (normal o al revés).*/
    flex-direction: row;
    /* Especifica si los elementos "hijos" son obligados a permanecer en una 
    misma línea o pueden fluir en varias líneas.*/
    flex-wrap: wrap;
    /*Va a tener un nancho dinamico
    flex-wrap: no-wrap;*/

    /* Es una propiedad atajo para las propiedades individuales flex-direction y flex-wrap */
    /* flex-flow: row wrap;*/

    /* Define cómo el navegador distribuye el espacio entre y alrededor de los items flex, 
    a lo largo del eje principal de su contenedor.*/
    justify-content: space-between;

    /*Permite acomodar el cotenido verticalmente*/
    /* align-items: baseline;*/

    /* Ajusta las líneas dentro de un contenedor flex cuando hay espacio extra en el eje transversal */
    /* align-content: center;*/
}

/*Propiedades al contenedor hijo*/
.caja {
    width: 100px;
    height: 100px;
    background: #f79256;
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: 40px;
    color: #fff;
    /* Especifica el orden utilizado para disponer los elementos en su contenedor flexible */
    /*order: 1;*/
    /*acepata un numero que nos va a servir de proporcion ara hacer creacer al elemento en relacion con los demas */
    /*flex-grow:1 ;*/
    /*Define cuanto se puede hacer un elemento mas pequeño en proporcion a los demas*/
    /*flex-shrink: 1;*/
    flex: 1 1 auto;
    /* Indica la alineación de un elemento dentro del bloque que lo contiene*/
   
}

.dos {  
     /* Indica la alineación de un elemento dentro del bloque que lo contiene*/
    align-self: stretch;
    height: auto;
}
  /*.dos {
    flex-shrink: 0;*/

    /* Especifíca la base flexible, la cual es el tamaño inicial de un elemento flexible. */
    /*flex-basis: 200px;*/

    /* Que si el primero crece un px el segundo tiene 2px*/
    /*flex-grow: 2;*/

    /* Atajo que abarca las 3 */
    /*flex: 1 1 auto;
}*/

/*.dos {
    order: 2;
}

.uno {
    order: 3;
}

.tres {
    order: 1;
}*/